.u-section-1 {
  background-image: url("images/gradient-blue-to-white-wallpaper-1.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1041px;
}

.u-section-1 .u-text-1 {
  font-family: "Alfa Slab One";
  margin: 1px 283px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: "Alfa Slab One";
  margin: -55px 283px 0 0;
}

.u-section-1 .u-text-3 {
  font-family: "Alfa Slab One";
  margin: 0 283px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 401px;
  margin: -142px 0 0 auto;
}

.u-section-1 .u-text-4 {
  font-family: "Alfa Slab One";
  margin: -394px 283px 60px 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 83px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 83px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 83px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 331px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -324px;
    margin-right: 83px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 254px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -247px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 240px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -233px;
  }
}.u-section-2 {
  background-image: linear-gradient(#9fc8d9, #19547c);
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  font-weight: normal;
  margin: 99px 265px 0 173px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 2.25rem;
  margin: 0 auto 0 188px;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  height: 60px;
  width: 60px;
  margin: 0 auto 0 173px;
}

.u-section-2 .u-text-2 {
  font-weight: normal;
  margin: -52px 194px 0 244px;
}

.u-section-2 .u-icon-3 {
  height: 56px;
  width: 56px;
  margin: 49px auto 0 173px;
}

.u-section-2 .u-text-3 {
  margin: -56px 194px 60px 244px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-weight: 400;
    margin-right: 165px;
    margin-left: 73px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 173px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 173px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 18px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 126px;
    margin-right: -26px;
    margin-left: 26px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 54px;
    margin-right: -13px;
  }

  .u-section-2 .u-icon-2 {
    height: 53px;
    width: 53px;
    margin-top: 26px;
    margin-left: -8px;
  }

  .u-section-2 .u-text-2 {
    width: 231px;
    margin-top: -68px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-3 {
    height: 49px;
    width: 49px;
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: 231px;
    margin-top: -49px;
    margin-left: auto;
  }
}