.u-section-1 {
  background-image: url("images/image3441.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 434px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 64px 395px 0 295px;
}

.u-section-1 .u-image-1 {
  width: 358px;
  height: 195px;
  margin: 51px auto 58px 361px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 295px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 22px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 185px;
    margin-left: 230px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 15px;
    margin-right: 159px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 90px;
    margin-left: 173px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 231px;
    margin: 83px auto 60px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 185px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1645px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 782px;
  margin: 32px auto 0 570px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: -767px 722px 0 17px;
}

.u-section-2 .u-text-2 {
  margin: 32px 707px 0 32px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1857px;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: 570px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 168px;
    margin-left: 202px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 58px;
    margin-left: 92px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1816px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 741px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1882px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 467px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
}.u-section-3 {
  background-image: linear-gradient(#9fc8d9, #19547c);
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  margin: 99px 265px 0 173px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 2.25rem;
  margin: 0 auto 0 185px;
  padding: 0;
}

.u-section-3 .u-icon-2 {
  height: 60px;
  width: 60px;
  margin: 0 auto 0 173px;
}

.u-section-3 .u-text-2 {
  font-weight: normal;
  margin: -52px 194px 0 244px;
}

.u-section-3 .u-icon-3 {
  height: 56px;
  width: 56px;
  margin: 49px auto 0 173px;
}

.u-section-3 .u-text-3 {
  margin: -56px 194px 60px 244px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-3 .u-text-1 {
    font-weight: 400;
    width: auto;
    margin-top: 103px;
    margin-right: 82px;
    margin-left: 156px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -4px;
    margin-left: 165px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 156px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -44px;
    margin-right: -50px;
    margin-left: 223px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 36px;
    margin-left: 156px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: -50px;
    margin-left: 223px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 101px;
    margin-right: -134px;
    margin-left: 152px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 152px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 206px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 34px;
    margin-left: 152px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 206px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: -61px;
    margin-left: 61px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 33px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: -61px;
    margin-left: 61px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 126px;
    margin-right: -26px;
    margin-left: 26px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 54px;
    margin-right: -13px;
  }

  .u-section-3 .u-icon-2 {
    height: 53px;
    width: 53px;
    margin-top: 26px;
    margin-left: -8px;
  }

  .u-section-3 .u-text-2 {
    width: 231px;
    margin-top: -68px;
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-3 .u-icon-3 {
    height: 49px;
    width: 49px;
    margin-top: 23px;
  }

  .u-section-3 .u-text-3 {
    width: 231px;
    margin-top: -49px;
    margin-left: auto;
    margin-right: 0;
  }
}